.navbar{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: #f57236;
    height: 10vh;
    align-items: center;
    overflow-y: hidden;
}

.nav-img1{
    height: 26vh;
    margin-bottom: 1vh;
}

.nav-list{
    display: flex;
    list-style: none;
    width: 30vw;
    justify-content: space-around;
    font-size: 2.5vh;
    height: 8vh;
    align-items: center;
}

.lnk{
    text-decoration: none;
    color: #f57236;
}

.lnk:hover{
    color: white;
    transition: 0.5s;
    transform: scale(1.1);
}