.presentation{
    background: linear-gradient(90deg, rgba(0,0,0,1) 57%, rgba(255,255,255,1) 93%);
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-presentation{
    margin-left: 15vw;
    color: #f57236;
}

.text-presentation h2{
    margin-top: 3vh;
    font-size: 4vh;
}

.text-presentation h1{
    font-size: 8vh;
}

.presentation img{
    height: 85vh;
}