.time-container{
    display: flex;
    width: 40vw;
    height: 20vh;
}

.time-info-left{
    width: 20vw;
    height: 20vh;
    border-right: solid 2px #f57236;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.time-info-left p{
    width: 15vw;
    text-align: left;
    margin-top: 2vh;
    margin-right: 1vw;
    font-size: 1.8vh;
}

.time-info-right{
    width: 20vw;
    height: 20vh;
    border-left: solid 2px #f57236;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.time-info-right p{
    width: 15vw;
    text-align: left;
    margin-top: 2vh;
    margin-left: 1vw;
    font-size: 1.8vh;
}

.year-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.year-container h3{
    margin-right: 0.5vw;
    margin-left: 0.5vw;
    font-size: 2.1vh;
}

.line{
    width: 5vw;
    height: 2px;
    background-color: #f57236;
}

.empty{
    width: 20vw;
    height: 20vh;
}